<h1 class="text-center">Chats</h1>
<ul>
  <% @chatrooms.each do |chatroom| %>
    <div class="notification">
      <div class="notification-content">
        <li>
          <p><small><%= chatroom.party.start_time.strftime("%b %e, %l:%M %p") %></small></p>
          <h2><%= link_to chatroom.name, chatroom_path(chatroom), class:"text-decoration-none", id:"h2-chatroom" %></h2>
          <p><small><%= chatroom.party.address %></small></p>

          <div class="border-top">
            <% if chatroom.messages != [] %>
              <p id="text-alignment"><%= chatroom.messages.last.participant.user.email%>: <%= chatroom.messages[-1].content %></p>
            <% else %>
              <p id="text-alignment">No messages</p>
            <% end %>
          </div>
        </li>
      </div>
        <% if chatroom.party.user.photo.attached? %>
          <%= cl_image_tag chatroom.party.user.photo.key, crop: :fill, class: "rounded-circle avatar-large",
          aria: {expanded: false, haspopup: true} %>
        <% else %>
          <%= image_tag 'current_user.jpg', class: "rounded-circle avatar-large" %>
        <% end %>
    </div>
  <% end %>
</ul>
