<h1 class="text-center">Chats</h1>
<ul>
  <% @chatrooms.each do |chatroom| %>
    <div class="notification">
      <div class="notification-content">
        <li>
          <p><small><%= Party.find(chatroom.party_id).start_time %></small></p>
          <h2><%= link_to chatroom.name, chatroom_path(chatroom), class:"text-decoration-none" %></h2>
          <p><%= Party.find(chatroom.party_id).address %></p>

          <div class="border-top">
            <% if chatroom.messages != [] %>
              <p><%= Participant.find(chatroom.messages[-1].participant_id).user.email%>: <%= chatroom.messages[-1].content %></p>
            <% else %>
              <p>No messages</p>
            <% end %>
          </div>
        </li>
      </div>
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    </div>
  <% end %>
</ul>
