<% content_for :meta_title, "#{@chatroom.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @chatroom.party.description %>
<% content_for :meta_image, cl_image_path(@chatroom.party.user.photo.key) if @chatroom.party.user.photo.present? %>

<div class=" chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>
    <%= link_to "<", chatrooms_path, class:"text-decoration-none white-btn" %>
    #<%= @chatroom.name %>
  </h1>

  <div class="messages style-chat" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="bottom-form">
  </div>

  <%= form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
    class: "message-form border-0" } do |f|
  %>
    <%= f.text_field :content,
      label: false,
      class: "msg-input border-0",
      placeholder: "Type message..."
    %>
    <%= button_tag type: "submit", class: "rounded-circle submit" do %>
      <i class="fa-regular fa-paper-plane fa-xl"></i>
    <% end %>
  <% end %>
</div>
