<% if current_user %>
  <div class="bottom_nav w-100" data-controller="toggle">
    <%= link_to "", root_path, class: "fa-solid fa-house fa-sm item_left item" %>
    <%= link_to "", posts_path, class: "fa-regular fa-image fa-sm item_right item" %>
    <span class="btn-plus" data-action="click->toggle#toggle"><i class="fa-solid fa-plus fa-sm plus-icon"></i></span>
    <%= link_to "", chatrooms_path, class:"fa-regular fa-comments fa-sm item_left item text-decoration-none" %>
    <span>
      <%= link_to useroptions_path do %>
        <% if current_user.photo.attached? %>
          <a class="dropup" data-bs-toggle="dropdown" aria-expanded="false">
            <%= cl_image_tag current_user.photo.key, height: 38, width: 38, crop: :fill, class: "rounded-circle"%>
            <ul class="dropdown-menu d-flex flex-column justify-content-center align-item-center">
              <%= link_to "Logout", destroy_user_session_path, class: "link-danger text-decoration-none", data: {turbo_method: :delete} %>
            </ul>
          </a>
        <% else %>
          <%= image_tag 'current_user.jpg',  height: 38, width: 38, class: "rounded-circle" %>
        <% end %>
      <% end %>
    </span>

    <div class="popup hide-popup" data-toggle-target="popup">
      <div class="close-btn">
        <button type="button" class="btn-close btn-close-white" aria-label="Close" data-action="click->toggle#toggle"></button>
      </div>
    <h2 class="h2"><strong>Options</strong> </h2>
    <%= link_to"Create Party", homeparty_path, class:"select-location"   %>
    <p style="margin-top: 16px; opacity: 50%">― or ―</p>
    <%= form_for @post, url: new_post_path do |f| %>
    <p class="add-post" onClick="this.nextElementSibling.nextElementSibling.click()">Create Post</p>
    <%= f.file_field :photos, as: :file, multiple: true, onchange: "this.form.submit()", class: "d-none" %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <p><strong>Hey Man!<strong>You have to <%= link_to "Sign Up", new_user_registration_path, class: "link-warning"%> to continue</p>
  </div>
<% end %>
