<% if current_user %>
  <div class="bottom_nav" data-controller="toggle">
    <%= link_to "", root_path, class: "fa-solid fa-house fa-sm item_left item" %>
    <%= link_to "", posts_path, class: "fa-regular fa-image fa-sm item_right item" %>
    <span class="btn-plus" data-action="click->toggle#toggle"><i class="fa-solid fa-plus fa-sm plus-icon"></i></span>
    <%= link_to "", chatrooms_path, class:"fa-regular fa-comments fa-sm item_left item text-decoration-none" %>
    <span>
      <%= link_to useroptions_path do %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 38, width: 38, crop: :fill, class: "rounded-circle",
          aria: {expanded: false, haspopup: true} %>
        <% else %>
          <%= image_tag image_path('current_user.jpeg'),  height: 38, width: 38, class: "rounded-circle" %>
        <% end %>
      <% end %>
    </span>

    <div class="popup hide-popup" data-toggle-target="popup">
      <div class="close-btn">
        <button type="button" class="btn-close btn-close-white" aria-label="Close" data-action="click->toggle#toggle"></button>
      </div>
    <h2 class="h2"><strong>New Party</strong> </h2>
    <%= link_to"Create", homeparty_path, class:"select-location"   %>
    <%# <p style="margin-top: 16px; opacity: 50%">― or ―</p>
    <%= link_to"Select location", new_party_path, class:"select-location"%>
  </div>
<% else %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <p><strong>Hey Man!<strong>You have to <%= link_to "Sign Up", new_user_registration_path, class: "link-warning"%> to continue</p>
  </div>
<% end %>
